@mixin background-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-contactus{
  background: url(/assets/images/band3.jpg); 
  @include background-cover;
}


.bg-gallery{
  background: url(/assets/images/band2.jpg)no-repeat center center; 
  @include background-cover;
}

.bg-about{
  background: url(/assets/images/band.jpg); 
  @include background-cover;
}

.text-header{
    color: #64ffda;
}

h2{
    font-weight: 200;
}


.hover-zoom {
  transition: all 0.3s ease-in-out;
  background: url(/assets/images/band3.jpg); 
  @include background-cover;

  &:hover {
    background-size: 100%;
    background-position: center; 
    @include background-cover;
  }
}
