<div class="container-fluid" id="section-tour" [@fadeInFrom]="state">
    <div class="container px-md-5">
        <div class="row">
            <div class="col-md-12 text-center py-5">
                <h2 class="text-gray-dark text-uppercase">Dates & Tours</h2>
                <h4 class="text-muted">Join Now and Listen to Our Music</h4>
                
                <br><br>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34788460&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

                <br><br><br><br>

                <dl class="text-left d-md-none d-lg-none d-sm-block d-block">
                    <dd><h5>JUL 06 | Starlight Theatre       
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>KANSAS CITY, MO</h6><br><hr></dd>

                    <dd><h5>JUL 07 | Hollywood Casino Amphitheatre
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>ST. LOUIS, MO</h6><br><hr></dd>

                    <dd><h5>JUL 09 | DTE Energy Music Theatre    
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>DETROIT, MI</h6><br><hr></dd>

                    <dd><h5>JUL 10 | Ravinia   
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket"></button>
                    </h5> 
                    </dd>
                    <dd><h6>HIGHLAND PARK, IL</h6><br><hr></dd>

                    <dd><h5>JUL 12 | Ruoff Home Mortgage Music Center  
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>NOBLESVILLE, IN</h6><br><hr></dd>
                </dl>   

                <div class=" d-none d-sm-none d-md-block d-lg-block">
                    <table class="table table-hover  table-condensed">
                      <tbody>
                        <tr>
                          <td>JUL 06</td>
                          <td>Starlight Theatre</td>
                          <td>KANSAS CITY, MO</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 07</td>
                          <td>Hollywood Casino Amphitheatre</td>
                          <td>ST. LOUIS, MO</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 09</td>
                          <td>DTE Energy Music Theatre</td>
                          <td>DETROIT, MI</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 10</td>
                          <td>Ravinia</td>
                          <td>HIGHLAND PARK, IL</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 12</td>
                          <td>Ruoff Home Mortgage Music Center</td>
                          <td>NOBLESVILLE, IN</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                      </tbody>
                    </table> 
                </div>
                 
             
                     
            </div>
        </div>
    </div>
</div>