.nav-link{
	text-transform: uppercase !important;

	letter-spacing: 3px;
	color: #a7ffeb !important;
}

.nav-link:hover{
	color: whitesmoke !important;
}

.active{
	color: whitesmoke !important;
}


.navbar-dark{
	background: rgba(0,0,0,0.8) !important;
}