<div class="container-fluid" [@fadeInFrom]="state" id="section-about">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12 text-center d-none d-sm-none d-md-block d-lg-block">
                <section class="page-section about-heading">
                  <div class="container">
                    <img class="img img-fluid rounded about-heading-img mb-3 mb-lg-0  shadow-sm" src="/assets/images/header-4.jpg" alt="">
                    <div class="about-heading-content">
                      <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                          <div class="bg-faded rounded p-5  shadow-sm">
                            <h2 class="section-heading mb-4">
                              <span class="section-heading-upper">Loud Music, Strong Neck</span>
                              <span class="section-heading-lower">About Koko & Friends</span>
                            </h2>
                            <p class="px-5 text-left">Koko and Friends is a Post Hardcore band from the Philippines. The band formed in the year 2009, from the city of Tayabas, a well known city in Quezon Province. The reason why Koko and friends is the name of our band is because of Francis Jabola Abrigo (a.k.a Koko). Koko is our former bassist. Koko leave the band last year(2010) because of personal issues, like his career. Koko love of music never end there. He is just probably busy about his work and we understand him. We continue performing even without Koko. We replace Koko by Jan Joseph Yerro.</p><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="row">
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="http://www.facebook.com/plugins/video.php?href=http%3A%2F%2Fwww.facebook.com%2Fryanabellanosa19%2Fvideos%2F1881681238516840%2F&show_text=0" width="100%" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="http://www.facebook.com/plugins/video.php?href=http%3A%2F%2Fwww.facebook.com%2Fdinnokelz.collantes%2Fvideos%2F10209009441192712%2F&show_text" width="100%" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center pt-3 px-0 d-md-none d-lg-none d-sm-block d-block">
                <section>
                  <div class="container">
                    <img class="img img-fluid rounded about-heading-img mb-3 mb-lg-0  shadow-sm" src="/assets/images/header-4.jpg" alt="">
                    <div>
                      <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                          <div class="bg-faded rounded shadow-sm py-3">
                            <h2 class="section-heading mb-4 px-3">
                              <span class="section-heading-upper">Loud Music, Strong Neck</span>
                              <span>About Koko & Friends</span>
                            </h2>
                            <p class="px-4 text-left">Koko and Friends is a Post Hardcore band from the Philippines. The band formed in the year 2009, from the city of Tayabas, a well known city in Quezon Province. The reason why Koko and friends is the name of our band is because of Francis Jabola Abrigo (a.k.a Koko). Koko is our former bassist. Koko leave the band last year(2010) because of personal issues, like his career. Koko love of music never end there. He is just probably busy about his work and we understand him. We continue performing even without Koko. We replace Koko by Jan Joseph Yerro.</p><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section><br><br>

                <div class="row">
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="http://www.facebook.com/plugins/video.php?href=http%3A%2F%2Fwww.facebook.com%2Fryanabellanosa19%2Fvideos%2F1881681238516840%2F&show_text=0" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="http://www.facebook.com/plugins/video.php?href=http%3A%2F%2Fwww.facebook.com%2Fdinnokelz.collantes%2Fvideos%2F10209009441192712%2F&show_text" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>

            

        </div>

    </div>

</div>