<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/assets/images/header.jpg')">
                <div class="carousel-content w-75 card card-header-item p-0">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/assets/images/header-2.jpg" class="img img-fluid img-thumbnail">
                        </div>
                        <div class="col-md-6">
                            <div class="py-4 px-4">
                                <h1 class="text-header">KOKO <small>& FRIENDS</small></h1>
                                <h6>A Post Hardcore Band from Philippines</h6>
                                <hr>
                                <p>Koko and Friends is a Post Hardcore band from the Philippines. The band formed in the year 2009, from the city of Tayabas, a well known city in Quezon Province. </p>
                                <br>
                                <p>Our Members: Sherwin Ablaña Dapito on Vocals, Kenny Denver Sedenio on guitar 1, Ryan Abellanosa on guitar 2, Jan Joseph Yerro on Bass, and Dinno Boy Collantes on drums.</p>
                                <br>
                                <button class="btn view-more">Check us out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/assets/images/header-1.jpg')">
                <div class="carousel-content w-75 card card-header-item p-0">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="py-5 pl-md-4 px-4">
                                <h1 class="text-header">NEW ALBUM</h1>
                                <h4>Coming Soon</h4>
                                <br>
                                <p>Influences: Urbandub, Imbue no Kudos, Subscapular, Love me Butch, Four Year Strong, Sent by Ravens, The Color Morale, Close Your Eyes, Saosin, Bullet for my Valentine, Wilabaliw, Deftones, Join the Club</p>
                             
                                <br><br>
                                <button class="btn view-more">View More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/images/header-3.jpg" class="img img-fluid img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container-fluid">
    <div class="container px-md-5">
        <div class="row">
            <div class="col-md-12 text-center py-5">
                <h2 class="text-gray-dark text-uppercase">Dates & Tours</h2>
                <h4 class="text-muted">Join Now and Listen to Our Music</h4>
                
                <br><br>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34788460&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

                <br><br><br><br>

                <dl class="text-left d-md-none d-lg-none d-sm-block d-block">
                    <dd><h5>JUL 06 | Starlight Theatre       
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>KANSAS CITY, MO</h6><br><hr></dd>

                    <dd><h5>JUL 07 | Hollywood Casino Amphitheatre
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>ST. LOUIS, MO</h6><br><hr></dd>

                    <dd><h5>JUL 09 | DTE Energy Music Theatre    
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>DETROIT, MI</h6><br><hr></dd>

                    <dd><h5>JUL 10 | Ravinia   
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket"></button>
                    </h5> 
                    </dd>
                    <dd><h6>HIGHLAND PARK, IL</h6><br><hr></dd>

                    <dd><h5>JUL 12 | Ruoff Home Mortgage Music Center  
                        <button class="btn btn-danger px-3 py-2 btn-sm float-right mt-3">VIP</button>
                        <button class="btn btn-default px-2 py-2 btn-sm float-right fa fa-ticket mt-3"></button>
                    </h5> 
                    </dd>
                    <dd><h6>NOBLESVILLE, IN</h6><br><hr></dd>
                </dl>   

                <div class=" d-none d-sm-none d-md-block d-lg-block">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>JUL 06</td>
                          <td>Starlight Theatre</td>
                          <td>KANSAS CITY, MO</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 07</td>
                          <td>Hollywood Casino Amphitheatre</td>
                          <td>ST. LOUIS, MO</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 09</td>
                          <td>DTE Energy Music Theatre</td>
                          <td>DETROIT, MI</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 10</td>
                          <td>Ravinia</td>
                          <td>HIGHLAND PARK, IL</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                        <tr>
                          <td>JUL 12</td>
                          <td>Ruoff Home Mortgage Music Center</td>
                          <td>NOBLESVILLE, IN</td>
                          <td>
                              <button class="btn btn-danger mr-2 px-5 py-2">VIP</button>
                              <button class="btn btn-default px-5 py-2">Ticket</button>
                          </td>
                        </tr>
                      </tbody>
                    </table> 
                </div>
                 
             
                     
            </div>
        </div>
    </div>
</div>

<!---->
<div class="container-fluid shadow py-5 bg-contactus shadow">
    <div class="container px-md-5">
        <div class="row">
            <div class="col-md-12 text-center py-5">
                <h2 class="text-header text-uppercase">Contact us for booking</h2>
                <h5 class="text-light">Do you have a gig for us?</h5>
                
                <br><br>
                <div class="d-none d-sm-none d-md-block d-lg-block">
                   <button class="btn btn-default px-5 py-3 mr-3 btn-sm">Tour & Schedule</button>
                   <button class="btn btn-danger px-5 py-3 btn-sm">Contact Us for Booking</button>  
                </div>
                
                <div class="d-md-none d-lg-none d-block d-sm-block">
                   <button class="btn btn-default px-5 py-3 mr-3 btn-sm btn-block">Tour & Schedule</button><br>
                   <button class="btn btn-danger px-5 py-3 btn-sm btn-block">Contact Us for Booking</button>  
                </div>  
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12 text-center d-none d-sm-none d-md-block d-lg-block">
                <section class="page-section about-heading">
                  <div class="container">
                    <img class="img img-fluid rounded about-heading-img mb-3 mb-lg-0  shadow-sm" src="/assets/images/header-4.jpg" alt="">
                    <div class="about-heading-content">
                      <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                          <div class="bg-faded rounded p-5  shadow-sm">
                            <h2 class="section-heading mb-4">
                              <span class="section-heading-upper">Loud Music, Strong Neck</span>
                              <span class="section-heading-lower">About Koko & Friends</span>
                            </h2>
                            <p class="px-5 text-left">Koko and Friends is a Post Hardcore band from the Philippines. The band formed in the year 2009, from the city of Tayabas, a well known city in Quezon Province. The reason why Koko and friends is the name of our band is because of Francis Jabola Abrigo (a.k.a Koko). Koko is our former bassist. Koko leave the band last year(2010) because of personal issues, like his career. Koko love of music never end there. He is just probably busy about his work and we understand him. We continue performing even without Koko. We replace Koko by Jan Joseph Yerro.</p><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="row">
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fryanabellanosa19%2Fvideos%2F1881681238516840%2F&show_text=0" width="100%" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdinnokelz.collantes%2Fvideos%2F10209009441192712%2F&show_text" width="100%" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center pt-3 px-0 d-md-none d-lg-none d-sm-block d-block">
                <section>
                  <div class="container">
                    <img class="img img-fluid rounded about-heading-img mb-3 mb-lg-0  shadow-sm" src="/assets/images/header-4.jpg" alt="">
                    <div>
                      <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                          <div class="bg-faded rounded shadow-sm py-3">
                            <h2 class="section-heading mb-4 px-3">
                              <span class="section-heading-upper">Loud Music, Strong Neck</span>
                              <span>About Koko & Friends</span>
                            </h2>
                            <p class="px-4 text-left">Koko and Friends is a Post Hardcore band from the Philippines. The band formed in the year 2009, from the city of Tayabas, a well known city in Quezon Province. The reason why Koko and friends is the name of our band is because of Francis Jabola Abrigo (a.k.a Koko). Koko is our former bassist. Koko leave the band last year(2010) because of personal issues, like his career. Koko love of music never end there. He is just probably busy about his work and we understand him. We continue performing even without Koko. We replace Koko by Jan Joseph Yerro.</p><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section><br><br>

                <div class="row">
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fryanabellanosa19%2Fvideos%2F1881681238516840%2F&show_text=0" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe class="shadow-sm" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdinnokelz.collantes%2Fvideos%2F10209009441192712%2F&show_text" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>

            

        </div>

    </div>

</div>



<div class="container-fluid bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center py-5">
                <h2 class="text-uppercase text-white">Our Gallery</h2>
                <h3 class="text-light">Band Gigs and Moments</h3>
                <br><br>

                <div class="row" id="galleryImages">
                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG.jpg" id="myImg"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG2.jpg" id="myImg2"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG3.jpg" id="myImg3"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG4.jpg" id="myImg4"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG5.jpg" id="myImg5"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG6.jpg" id="myImg6"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG7.jpg" id="myImg7"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG8.jpg" id="myImg8"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG9.jpg" id="myImg9"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>
                </div> 

                
            </div>
        </div>

    </div>

</div>


