<home-header></home-header>
<div class="navigation-button d-none d-sm-none d-md-block enlarge" [@fadeInFrom]="navTop">
    <span class="navigation-button" (click)="navigateTop()" class="fa fa-angle-double-up"></span><p class="text-uppercase pt-0 mt-0">Top</p>
</div>
<!-- Tours -->
<home-tours></home-tours>

<!---->
<home-contact-banner></home-contact-banner>

<!-- About -->
<home-about></home-about>



<div class="container-fluid bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center py-5">
                <h2 class="text-uppercase text-white">Our Gallery</h2>
                <h3 class="text-light">Band Gigs and Moments</h3>
                <br><br>

                <div class="row" id="galleryImages">
                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG.jpg" id="myImg"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG2.jpg" id="myImg2"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG3.jpg" id="myImg3"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center mb-3">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG4.jpg" id="myImg4"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG5.jpg" id="myImg5"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG6.jpg" id="myImg6"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG7.jpg" id="myImg7"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG8.jpg" id="myImg8"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box text-center">
                        <div class="card card-hover-shadow item" style="background-color: rgba(255, 255,255, 0);">
                            <div class="card-block">
                                <img src="/assets/images/PhotoG9.jpg" id="myImg9"
                                class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>
                </div> 

                
            </div>
        </div>

    </div>

</div>


